.bottomleft {
  position: absolute;
  bottom: 5vh;
  left: 16px;
  z-index: 1;
}

.legBox{
  border-left: 3px solid;
  cursor: pointer;
}

.legBox:hover{
  background-color: #d9d9d9;
}

.borderYellow{
  border-color: #f7ff00;
}

.borderBlue{
border-color: #005eab;
}