.resultBox {
  position: absolute;
  bottom: 5vh;
  left: 16px;
  z-index: 2;
}

.resultContent{
  max-height: 70vh;
  overflow: scroll;
}

.legBox {
  border-left: 3px solid;
  cursor: pointer;
  border-radius: 10px;
}

.legBox:hover {
  background-color: #d9d9d9;
}

.borderWalking {
  border-color: #f7ff00;
}

.borderTrain {
  border-color: #005eab;
}
.borderBus {
  border-color: #048f04;
}
.borderCar {
  border-color: #6b03fc;
}
