.logSummary{
  position: absolute;
  background-color: rgba(18, 18, 18, 0.8);
  color: white;
  width: 20vw;
  height: 5vh;
  left: 40vw;
  bottom: 5vh;
  z-index: 1;
  border-radius: 5px;
  padding-left: 15px;
}