.logModal{
  background-color: rgba(18, 18, 18, 0.7);
  /* border: black;
  border-width: 3px;
  border-style: solid; */
  color: white;
  width: 80%;
  height: 100%;
  overflow: scroll;
}

.yellow{
  color: yellow;
}

.green{
  color: green;
}